[user]
	name = OrkanGoekcen
	email = orkan.gok@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[include]
    path = ~/.config/delta/delta.gitconfig
[credential "https://github.com"] # Use "gh auth login" credentials for login
	helper =
	helper = !/usr/bin/gh auth git-credential
