.{
  background: transparent;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

#workspaces {
  background: #c6a0f6;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#clock {
  background: #ed8796;
  border-radius: 10px;
  min-width: 100px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#battery {
  background: #a6e3a1;
  border-radius: 10px;
  min-width: 70px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#backlight {
  background: #74c7ec;
  border-radius: 10px;
  min-width: 70px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#memory {
  background: #fab387;
  border-radius: 10px;
  min-width: 70px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#network {
  background: #f5e0dc;
  border-radius: 10px;
  min-width: 70px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#network.disconnected {
  background: #d20f39; /* Red */
  border-radius: 10px;
  min-width: 70px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#custom-power {
  background: #d20f39;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
  min-width: 20px;
  margin: 6px 5px;
}


#custom-githubInbox {
  background: #cdd6f4;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 10px;
  min-width: 20px;
  margin: 6px 5px;
}

#powersegment {
  margin-left: 50px;
}

#scripts {
  margin-right: 50px;
}
